.section-features .title-features {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-features .text-features {
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.features-list {
  display: flex;
  align-items: center;
  width: 1158px;
  gap: 24px;
  padding: 0px 15px;
}

.section-features {
  display: flex;
  padding: 120px 0px;
  justify-content: center;
}
