.section-hero {
  background-color: #2e2f42;
  color: #fff;
  padding: 188px 0px;
}
.title-hero {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-hero {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.button-hero:hover {
  background-color: #404bbf;
}
.button-hero:focus {
  background-color: #404bbf;
}
.button-hero:active {
  background-color: #404bbf;
}
