.section-team {
  padding: 120px 0px;
  height: 732px;
  background-color: #f4f4fd;
  color: #2e2f42;
}
.section-team h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-team p {
  color: #434455;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team img {
  display: block;
}

.title-team {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  justify-content: center;
  margin-bottom: 72px;
}

.tom-team {
  background-color: #fff;
}

.camila-team {
  background-color: #fff;
}

.daniel-team {
  background-color: #fff;
}

.card {
  width: 264px;
  height: 380px;
}

.card-content {
  padding: 32px 16px;
  width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0px 15px;
}
